:root {
  --body-color: #161616;
  --text-color: #f0f0f0;
  --primary-color: #023c7e;
  --second-color: #0366d6;
  --loose-reset-color: #d7263d;
  --loose-reset-color-hover: #981b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  padding-bottom: 3.6rem;
}

button {
  border: 1px solid transparent;
  background-color: transparent;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: var(--second-color);
}

#game-container {
  height: 100%;
  padding-block: 64px;
  position: relative;
}

#word {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  gap: 8px;
  padding-inline: 8px;
}

.lives {
  width: 80px;
  height: 80px;
  margin-top: 24px;
  border-radius: 50%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
}
#lives {
  font-size: 3.2rem;
  color: var(--body-color);
}

#top-section {
  margin-bottom: 100px;
}

.wordSpace {
  max-height: 48px;
  min-width: 24px;
  border-bottom: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: transparent;
  text-transform: uppercase;
  user-select: none;
  transition: color 400ms;
}
.wordSpace.active {
  color: var(--text-color);
  border: 1px solid transparent;
}

.message {
  width: 80%;
  height: 48px;
  margin: 0 auto;
  margin-top: 48px;
  text-align: center;
}

.message p {
  font-size: 2.4rem;
  color: var(--text-color);
}
.message button {
  padding-inline: 10px;
  padding-block: 5px;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--text-color);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.message button.win {
  background-color: var(--second-color);
}
.message button.win:hover {
  background-color: var(--primary-color);
}
.message button.loose {
  background-color: var(--loose-reset-color);
}
.message button.loose:hover {
  background-color: var(--loose-reset-color-hover);
}

#keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block: 32px;
}

.layer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.key {
  width: 32px;
  height: 42px;
  background-color: var(--second-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1.6rem;
  transition: all 50ms ease;
}

.key:active {
  background-color: var(--text-color);
  color: var(--second-color);
}
.key:disabled {
  background-color: var(--primary-color);
  color: var(--primary-color);
}

.hint {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: var(--second-color)
}

@media (hover: hover) {
  .key:hover {
    background-color: var(--text-color);
    color: var(--second-color);
  }

  .key:disabled {
    background-color: var(--primary-color);
    color: var(--primary-color);
  }
  .hint:hover {
    color: var(--text-color);
  }
}

@media screen and (max-width: 768px) {
  #keyboard {
    transform: scale(0.8);
  }
}